    @charset "UTF8";
        body{
            background-color: darkolivegreen;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
        }
        h1{
            text-align: center;
            color:blue;
            background-color: black;
        }
        h2{
            color: black;
        }
        p{
            text-align: justify;
        }
        a{
            color: azure;
        }